@inherits LayoutComponentBase
@inject IIdentityService IdentityService
<BlazoredToasts />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <div class="d-flex justify-content-start align-items-center">
                @if (Ip == IpConstants.AdminIp)
                {
                    <a href="/animal/all" class="custom-btn">
                        Wszystkie zwierzęta
                    </a>
                }
                @if (Ip == IpConstants.AdminIp)
                {
                    <a href="/animal/species/all" class="custom-btn">
                        Wszystkie gatunki
                    </a>
                }
                @if (Ip == IpConstants.AdminIp)
                {
                    <a href="/animal/adoptionForm/all" class="custom-btn">
                        Formularze adopcyjne
                    </a>
                }
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    private string Ip = null;
    protected override async Task OnInitializedAsync()
    {
        Ip = await IdentityService.GetIp();
    }
}