@inject ISpeciesService SpeciesService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">AdoptionApplication</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <span class="oi oi-home mr-2"></span> Home
            </a>
        </li>
        <li class="dropdown-divider"></li>
        @foreach (var species in SpeciesService.Species)
        {
            <li class="nav-item">
                <a class="nav-link" href="@species.Url">
                    <head>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
                    </head>
                    <i class="@species.Icon mr-2"></i> @species.Name
                </a>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        SpeciesService.LoadSpecies();
    }
}
