@*@page "/animal/adoptionForm/all"
@inject IAnimalService AnimalService

<div class="form-row">
    <div class="form-group col-md-4 col-lg-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownCityButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Zwierzęta
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownCityButton">
                <button class="dropdown-item" @onclick="() => UpdateAnimal(null)">Wszystkie</button>
                @foreach (var animalName in AnimalService.Animals.Select(x => x.Name).Distinct().ToList())
                {
                    <button class="dropdown-item" @onclick="() => UpdateAnimal(animalName)">@animalName</button>
                }
            </div>
        </div>
    </div>
    <div class="form-group col-md-4 col-lg-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownProvinceButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Użytkownicy
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownProvinceButton">
                <button class="dropdown-item" @onclick="() => UpdateUserEmail(null)">Wszystkie</button>
                @foreach (var email in AnimalService.Animals.Select(x => x.Province).Distinct().ToList())
                {
                    <button class="dropdown-item" @onclick="() => UpdateUserEmail(email)">@email</button>
                }
            </div>
        </div>
    </div>
</div>


@code {
    private string? animal = null;
    private string? userEmail = null;
    public List<UserAdoptionForm> Forms { get; set; }
    
    protected async Task UpdateAnimal(string? chosenAnimal)
    {
        animal = chosenAnimal;
        StateHasChanged();
    }
    
    protected async Task UpdateUserEmail(string? chosenEmail)
    {
        userEmail = chosenEmail;
        StateHasChanged();
    }
    
}*@