@page "/"
@page "/{speciesUrl}"
@inject ISpeciesService SpeciesService
@inject IAnimalService AnimalService

@if(species != null)
{
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h1>Tutaj znajdziesz @species.Name do adopcji!</h1>
    </div>
    <AnimalsList />
}   
else
{
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h1>Zapoznaj się ze zwierzętami, które szukają domu!!</h1>
    </div>
    <AnimalsList />
}

@code{
    [Parameter]
    public string SpeciesUrl { get; set; }

    private Species species = null;

    protected override async Task OnParametersSetAsync()
    {
        await AnimalService.LoadAnimalsAsync(SpeciesUrl);

        if (SpeciesUrl != null)
            species = SpeciesService.Species.FirstOrDefault(x => x.Url.ToLower().Equals(SpeciesUrl.ToLower()));
        else
            species = null;
    }
}